*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;;
    box-sizing: border-box;
}
body{
    background-color: royalblue;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.box{
 background-color: white;
 height: fit-content;
 width: fit-content;
 padding: 50px;
 border-radius: 60px 10px 60px 10px;
 box-shadow: 5px 5px 10px rgb(198, 46, 46);    
}
.top{
    color: #F44336;
    text-align: center;
    font-size: 30px;
}
h1{
    font-size: 50px;
}
button{
    border:none;
    outline: none;
    font-size: 30px;
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
}
.s1{
    background-color: #F44336;
    color: white;
    cursor: pointer;
}
.s2{
    background-color: green;
    color: white;
    cursor: pointer;
}
.r3{
    background-color: black;
    color: white;
    cursor: pointer;
}
.copyright{
    font-family: arial;
    font-size: 10px;
    align-items: center;
    margin: 5px;
    padding: 5px;
    justify-content: space-evenly;
    display: flex;
}